* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-bgc: #0f172a;
  --header-bgc: #1e293b;
  --book-border: #64748b;
  --white: #e2e8f0;
  font-size: 18px;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr 100px;
  min-height: 100%;
}

header {
  display: grid;
  justify-items: center;
  background-color: var(--header-bgc);
  color: var(--white);
  position: relative;
  box-shadow: 0 2px 4px #171717;
}

.header > h1 {
  font-weight: normal;
  padding: 35px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  align-items: start;
  justify-content: center;
  padding: 40px;
  gap: 100px;
  background-color: var(--main-bgc);
  color: #fffdf7;
}

.book,
.add-book-form {
  border-radius: 15px;
  border: 2px solid var(--book-border);
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  gap: 25px;
  padding: 30px;
}

.book-title {
  font-size: 1.5rem;
  font-style: italic;
}

.bottom-row {
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons > button {
  border: none;
  background-color: var(--main-bgc);
  width: 25px;
}

svg {
  fill: var(--white);
  pointer-events: none;
}

.bottom-row button,
.footer button {
  transition: ease-in-out 0.15s;
}

.bottom-row button:hover,
.footer button:hover {
  filter: brightness(150%);
  transform: scale(1.1);
}

.bottom-row button:active,
.footer button:active {
  transform: scale(0.95);
}

.footer {
  background-color: var(--main-bgc);
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer > button {
  width: 85px;
  height: 85px;
  margin: 0 40px 40px 0;
  background-color: inherit;
  border: none;
}

.form-popup {
  display: none;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add-book-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 350px;
  color: var(--white);
  padding: 50px;
  font-size: 1.75rem;
  gap: 20px;
}

.form-buttons {
  display: flex;
  align-self: stretch;
  margin-top: 20px;
  gap: 25px;
}

.form-buttons > button {
  flex: 1;
  padding: 5px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: var(--header-bgc);
}

input[type="text"] {
  appearance: none;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
}

input[type="text"]:not(:focus):not(:placeholder-shown):invalid {
  outline: 2px solid #f87171;
  background-color: #fee2e2;
}

button {
  cursor: pointer;
}

.save-button {
  background-color: #86efac;
}

.cancel-button {
  background-color: #f87171;
}

.blur {
  backdrop-filter: blur(3px) brightness(50%);
}

.blur-container {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
